# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/where-should-we-eat/node_modules
/where-should-we-eat/.pnp
.pnp.js

# testing
/where-should-we-eat/coverage

# note
.notes

# production
/where-should-we-eat/build

# misc
/where-should-we-eat/.DS_Store
/where-should-we-eat/.env.local
/where-should-we-eat/.env.development.local
/where-should-we-eat/.env.test.local
/where-should-we-eat/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
